name: Sonarcloud Analyze

on:
  # Trigger analysis when pushing in master or pull requests, and when creating a pull request.
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting.
          fetch-depth: 0

      # Triggering SonarQube analysis as results of it are required by Quality Gate check.
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          # SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.qualitygate.wait=true
            -Dsonar.projectKey=ayobamiblackforce-100_p3 
            -Dsonar.organization=ayobamiblackforce-100
        #     # Additional scanner properties as needed


      # Check the Quality Gate status.
      - name: SonarQube Quality Gate check
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          # SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}  #OPTIONAL

      # Optionally you can use the output from the Quality Gate in another step.
      # The possible outputs of the `quality-gate-status` variable are `PASSED`, `WARN` or `FAILED`.
      - name: "Example show SonarQube Quality Gate Status value"
        run: echo "The Quality Gate status is ${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}"


  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: dockerScout
        uses: docker/setup-docker-action@v4.7.0
        
      - name: docker build
        run: docker build -t guessing-game:v-p1 .
        
      - name: dockerScout
        uses: docker/scout-action@v1.18.2
        with:
          dockerhub-user: ${{ secrets.DOCKERHUB_USER }}
          dockerhub-password: ${{ secrets.DOCKERHUB }}
          only-severities: critical,high
          sarif-file: dockerScout-report.sarif

      - name: docker push image to repo
        run: |
          echo ${{ secrets.DOCKERHUB }} |docker login -u ${{ secrets.DOCKERHUB_USER }} --password-stdin
          docker tag guessing-game:v-p1 ${{ secrets.DOCKERHUB_USER }}/guessing-game:v-p1
          docker push ${{ secrets.DOCKERHUB_USER }}/guessing-game:v-p1
          
